<h1 id="page_title">Create new Chat</h1>

<div class="skinny_wrapper wrapper_padding">
 <%= form_for @chat do |f| %>
  	<% if @chat.errors.any? %>
  		<h2><%= pluralize(@chat.errors.count, "error") %> prevented this post from saving:</h2>
  		<ul>
  			<% @chat.errors.full_messages.each do |msg| %>
  				<li><%= msg %></li>
  			<% end %>
  		</ul>
  	<% end %>
  
  	<%= f.label :title %><br>
  	<%= f.text_field :title %>
  	
  	<%= f.check_box :private, {}, true, false %>
    <%= f.label :private, "Private Chat" %>

    <br>
    
    <%= f.check_box :public, {}, true, false %>
    <%= f.label :public, "Public Chat" %>
    
    <br>
    <br>
  	
  	<%= f.fields_for :private_users do |chat| %>
			<%= render 'private_user_fields', f: chat %>
		<% end %>
		<div class="f-row full">
			<%= link_to_add_association 'Add private user', f, :private_users, class: "button" %>
		</div>
  
  	<br>
  	<br>
  
  	<%= f.submit %>
  
  <% end %>
</div>