<div class="wrapper clearfix">
	<div class="col-1 homepage_content">
		
    <h1 id="page_title"><%= @chat.title %></h1>
    
      <%= render "chats/chats" %>
  
      <%= render "messages/form" %>
       
      <%= subscribe_to "/chats/#{@chat.id}/messages" %>
    
    <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to "Edit chat", edit_chat_path(@chat) %>
        <%= link_to "Close chat", chat_path(@chat), method: :delete, data: { confirm: "Are you sure?"} %>
      </div>
    <% end %>  
	</div>
	<div class="col-2 homepage_content">
	  <div class="chat_rooms">
  		<h2>Chat Rooms</h2>
  		<hr>
  		<ul>
        <li>Чебурашка</li>
        <li>Крокодил Гена</li>
        <li>Шапокляк</li>
        <li>Крыса Лариса</li>
      </ul>
    </div>
    <div class="user_online">
  		<h2>User Online</h2>
  		<hr>
  		<ul>
        <li>Darelvc</li>
        <li>Cadavercian</li>
        <li>Millerd</li>
        <li>Nadegda</li>
      </ul>
    </div>
	</div>
</div>

